[user]
  name = Paul Alexander
  email = paul@phallguy.com
  signingkey = BEEE2897B2427482

[color]
  branch = auto
  diff = auto
  status = auto
  rebase = auto
  ui = true

[core]
  autocrlf = false
  excludesfile = /Users/paulalexander/.gitignore_global
  ; preloadIndex = false
  ; fsmonitor = true
  ; untrackedCache = true
  ; pager = delta

; [interactive]
;   diffFilter = delta --color-only --features=interactive

[init]
  defaultBranch = master

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true


[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[http]
  postBuffer = 524288000

[commit]
  gpgsign = true
  template = /Users/paulalexander/dotfiles/.gitcommit.template
  cleanup = scissors

[gpg]
  program = gpg

[maintenance]
  repo = /Users/paulalexander/workspace/bark/bark-desktop
  repo = /Users/paulalexander/workspace/bark/bark-www
  repo = /Users/paulalexander/workspace/bark/bark-admin
  repo = /Users/paulalexander/workspace/bark

[rebase]
  updateRefs = true

[alias]
  st = status
  co = checkout --recurse-submodules
  br = checkout --no-track -b
  m = merge
  mn = merge --no-ff --no-commit
  rbc = rebase --continue
  rbi = rebase --interactive
  rbm = !git bam && git rebase -i origin/master
  boom = !git remote prune origin && git fetch origin && git reset --hard origin/$( git rev-parse --abbrev-ref HEAD ) && git submodule update --recursive
  bam = !DEFAULT_BRANCH=$(basename $(git rev-parse --abbrev-ref origin/HEAD)) && git co $DEFAULT_BRANCH && git boom && (git branch --format '%(refname:short)' --merged | egrep -v "^${DEFAULT_BRANCH}" | xargs git branch -d)  && git checkout -
  bamm = !DEFAULT_BRANCH=$(basename $(git rev-parse --abbrev-ref origin/HEAD)) && git co $DEFAULT_BRANCH && git boom && (git branch --format '%(refname:short)' --merged | egrep -v "^${DEAFULT_BRANCH}" | xargs git branch -d)
  dt = difftool
  dtc = difftool --cached
  ca = commit --amend --no-edit --no-verify
  cam = commit --amend
  lg = log --graph --decorate
  pushf = push origin HEAD --force-with-lease --no-verify
  pusho = push origin HEAD
  todo = diff head~ -Sfail -STODO

[diff]
  renames = true
  colorMoved = default
  algorithm = histogram

[difftool]
  prompt = false

[merge]
  conflictstyle = diff3

[mergetool]
  prompt = true

[delta]
  navigate = true    # use n and N to move between diff sections
  show-syntax = true
  side-by-side = true
  true-color = always
  line-numbers-left-format = "{nm:^3}  "
  line-numbers-right-format = " {nm:^3}  "
  commit-style = omit
  hunk-header-decoration-style =
  hunk-header-file-style = ""
  hunk-header-line-number-style = ""
  hunk-header-style = omit
[credential]
	helper = store
