[user]
  name = Paul Alexander
  email = paul@phallguy.com
  signingkey = 218BD2A9

[color]
  branch = auto
  diff = auto
  status = auto
  rebase = auto
  ui = true

[core]
  autocrlf = false
  excludesfile = /Users/paulalexander/.gitignore_global
  preloadIndex = false
  fsmonitor = false
  untrackedcache = false
  pager = delta

[interactive]
  diffFilter = delta --color-only

[init]
  defaultBranch = master

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[http]
  postBuffer = 524288000

[commit]
  gpgsign = true
  template = /Users/paulalexander/dotfiles/.gitcommit.template
  cleanup = scissors

[gpg]
  program = gpg

[maintenance]
  repo = /Users/paulalexander/workspace/bark/bark-desktop
  repo = /Users/paulalexander/workspace/bark/bark-www
  repo = /Users/paulalexander/workspace/bark/bark-admin

[rebase]
  updateRefs = true

[alias]
  st = status
  co = checkout --recurse-submodules
  br = checkout --no-track -b
  brd = !git for-each-ref --sort='-committerdate:iso8601' --format='%(committerdate:relative)|%(refname:short)|%(committername)' refs/heads | column -s '|' -t
  m = merge
  mn = merge --no-ff --no-commit
  rb = rebase
  rbc = rebase --continue
  boom = !git remote prune origin && git fetch origin && git reset --hard origin/$( git rev-parse --abbrev-ref HEAD ) && git submodule update --recursive
  bam = !git co master && git boom && (git branch --format '%(refname:short)' --merged | egrep -v "^master" | xargs git branch -d)  && git checkout -
  bamm = !git co master && git boom && (git branch --format '%(refname:short)' --merged | egrep -v "^master" | xargs git branch -d)
  dt = difftool
  dtc = difftool --cached
  ca = commit --amend --no-edit --no-verify
  cam = commit --amend
  lg = log --graph --decorate
  pushf = push origin HEAD -f --no-verify
  pusho = push origin HEAD
  s = show
  todo = log -Gfail --patch


[diff]
  renames = true
  colorMoved = default

[difftool]
  prompt = false
  trustExitCode = true
  minimal = true

[merge]
  tool = Kaleidoscope

[mergetool]
  prompt = false

# VS Code

[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

[mergetool "vscode"]
  cmd = code --wait $MERGED

# NVIM
#
[difftool "nvimdiff"]
  trustExitCode = true
  prompt = true

[mergetool "nvimdiff"]
  trustExitCode = true
  prompt = true

# Kaleidoscope

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[mergetool "Kaleidoscope"]
  trustexitcode = true
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  prompt = false

[delta]
  navigate = true    # use n and N to move between diff sections
  show-syntax = true
  side-by-side = true
