layout {
    pane_template name="tabs" {
        pane split_direction="vertical" size=1 {
            pane borderless=true size="60%" {
                plugin location="tab-bar"
            }
            pane borderless=true size="40%" {
                plugin location="status-bar"
            }
        }
    }
    tab name="nvim" {
        tabs
        pane command="nvim" borderless=true
    }
    new_tab_template {
        tabs
        pane borderless=true
    }
}

