layout {
    pane_template name="tabs" {
        pane split_direction="vertical" size=1 {
            pane borderless=true size="60%" {
                plugin location="tab-bar"
            }
            pane borderless=true size="40%" {
                plugin location="status-bar"
            }
        }
    }
    tab name="nvim" {
        tabs
        pane borderless=true command="nvim"
    }
    tab name="server" {
        tabs
        pane borderless=true {
            command "bin/dev"
        }
    }
    tab name="jobs" {
        tabs
        pane borderless=true {
            command "bin/bundle"
            args "exec" "sidekiq" "-q" "default" "-q" "screen_time" "-q" "priority"
        }
    }
    new_tab_template {
        tabs
        pane borderless=true
    }
}

