extends rails

snippet % "<% $0 %>" i
<% $0 %>
endsnippet

snippet = "<%= $0 %>" i
<%= $0 %>
endsnippet

snippet =d "<%= $0 do %>" i
<%= $1 do %>
  ${0:${VISUAL}}
<% end %>
endsnippet

snippet %d "<% $0 do %>" i
<% $1 do %>
  ${0:${VISUAL}}
<% end %>
endsnippet

snippet %i "<% if %>" i
<% if $0 %>
  ${1:${VISUAL}}
<% end %>
endsnippet

snippet %e "<% end %>" i
<% end %>
${0}
endsnippet
